<div *ngFor="let usuario of usuarios">
  <img [src]="usuario.picture.large">
  <h1>Nome: {{usuario.name.first}} {{usuario.name.last}}</h1>
  <h4>Email: {{usuario.email}}</h4>
  <h4>Telefone: {{usuario.phone}}</h4>
  <h4>Celular: {{usuario.cell}}</h4>
  <h4>
    Endereço: 
    {{usuario.location.street.name}} 
    nº {{usuario.location.street.number}}
  </h4>
  <h4>
    Cidade: 
    {{usuario.location.city}} 
    - {{usuario.location.state}}
    - {{usuario.location.country}}
  </h4>
  <hr>
</div>